/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Inter:wght@300;400&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;


.menu_logo {
    @apply mt-0
}

#page-footer svg {
    @apply mx-2 mb-3 fill-yellow-400
    w-5
}

.link-container {
    @apply relative before:content-[''] before:absolute before:h-[1px] before:top-[-1px] before:w-[0px]
     before:bg-white before:left-[-1px] after:content-[''] after:absolute after:top-[-1px] after:w-[1px] 
     after:h-[0px] after:bg-white after:right-[-1px]
}

.inner-link-container {
    @apply translate-y-5 w-full h-full relative flex flex-col items-center justify-center before:content-[''] 
    before:absolute before:h-[1px] before:w-[0px] before:bottom-[-1px]  before:bg-white before:right-[-1px] 
    after:content-[''] after:absolute after:bottom-[-1px] after:w-[1px] after:h-[0px] 
     after:bg-white after:left-[-1px]
}

.links {
    @apply mx-20 
}

.active {
    @apply text-yellow-400
}

.links:last-child {
    @apply mb-5
}

.m-link {
    @apply font-semibold text-xl no-underline
}

.mobile_menu {
    @apply font-normal text-sm absolute h-full left-0 right-0 filter backdrop-blur
     bg-transparent flex justify-center flex-col items-center -z-[1]
}

.popdiv {
   @apply backdrop-blur animate-slow_blur z-[1]
}

.popbox {
   @apply  before:w-[30px] after:h-[30px]
}

.inner_div {
    @apply before:w-[30px] after:h-[30px]
}

.poplink {
    @apply  animate-link_anime translate-y-[0]
}
